# Clase de lectura y escritura de datos 

lo primero que hacemos es importar las librerías con las que trabajaresmos y que tienen las funciones que necesitamos

In [1]:
import pandas as pd
import numpy as np
import os
import csv
import urllib3

%config IPCompleter.greedy=True

#conda install xlwt para escribir archivos excel

In [2]:
url='/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/'
dataset='titanic/titanic3.csv'

## os.path.join es una función que uno y soluciona problemas de path como fañta de / o espacios
dataset=os.path.join(url,dataset)

## lectura CSV utilizando Pandas

pd.read_csv()  
sep    : separador de valores por ejemplo ',' o ';' 
dtype  : tipo de datos en cada columna {nombre:tipo dato} # util para columnas con fechas  
header : posición de la cabecera donde el número indica la linea por defecto es 0
names   : nombre de las columnas creando una lista o array con los valores ={'nombre1', 'nombre2', ...}  
skiprows        : número de filas que se salta por ejemplo 12 implica que parte de la fila 13  
index_col       : argumento númerico indica que columna es el index  
skip_blank_lines: booleano como True o False. Se salta las filas con un valor Nan  
na_filter       : elimina todas as filas con algun valor Nan (por edefecto es False)

In [3]:
df=pd.read_csv(dataset, sep=',',dtype={'plcass':np.int32, 'fare':np.float64}, header=0)

## la duncion .head() lee las primeras lineas de las columnas
df.head()

FileNotFoundError: ignored

## Carga de Datos a través de open() 

open es una función que lee linea a linea. Esto es mejor cuando tenemos datos muy grandes ya que no ocupa tanta memoria RAM.   
* open()         : habre un determinado fichero  
* readline()     : lee una línea  
* strip()        : elimina espacios en blanco al inicio como al final de la linea  
* split(',')     : separa la linea por ','  
* len()          : da el tamaño de las columnas

In [ ]:
dataset2='customer-churn-model/Customer Churn Model.txt'
dataset3=os.path.join(url,dataset2)

In [ ]:
data3 = open(dataset3,'r') # r es lectura

In [ ]:
cols=data3.readline().strip().split(',') #
n_cols=len(cols)

In [ ]:
n_cols
counter = 0
main_dict = {}
for col in cols:
    main_dict[col]=[]

main_dict

{'State': [],
 'Account Length': [],
 'Area Code': [],
 'Phone': [],
 "Int'l Plan": [],
 'VMail Plan': [],
 'VMail Message': [],
 'Day Mins': [],
 'Day Calls': [],
 'Day Charge': [],
 'Eve Mins': [],
 'Eve Calls': [],
 'Eve Charge': [],
 'Night Mins': [],
 'Night Calls': [],
 'Night Charge': [],
 'Intl Mins': [],
 'Intl Calls': [],
 'Intl Charge': [],
 'CustServ Calls': [],
 'Churn?': []}

In [ ]:
for line in data3:
    values =line.strip().split(',') # en este caso el delimitador es una , 
    for i in range (len(cols)):
        main_dict[cols[i]].append(values[i])
    counter +=1

print ("filas: {} col: {}".format(counter, n_cols))

filas: 3333 col: 21

In [ ]:
df = pd.DataFrame(main_dict) # Creamos un pandas a partir del diccionario 
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
1,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
2,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
3,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
4,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.

## Leemos el nombre de las columnas en otro fichero y lo cambiamos

In [ ]:
df.columns.values # debielve el nombre de las columnas como un array

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [ ]:
dataf='customer-churn-model'+'/'+'Customer Churn Columns.csv'
archivo=os.path.join(url,dataf)
data_cols= pd.read_csv(archivo)
# pasamos a lista la columna con los nombres
data_cols=data_cols['Column_Names'].tolist() 
# leemos el archivo y cambiamos en nombre de las columnas 
salida = pd.read_csv(dataset3, sep=',', header= None, names=data_cols)
salida.head()

,A,B,C,D,E,F,G,H,I,J,...,L,M,N,O,P,Q,R,S,T,U
0,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
2,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
3,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
4,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.

## Leer y Escribir un archivo cambiando los separadores

In [ ]:
infile='customer-churn-model/Customer Churn Model.txt'
infile=os.path.join(url,infile)
outfile='customer-churn-model/Tab Customer Churn Model.txt'
outfile=os.path.join(url,outfile)
print(outfile)
with open(infile,'r') as infile1: # r es lectura
    with open(outfile, 'w') as outfile1:Ejercicio: construya una función f(x) y grafique sus resultados 
        for line in infile1:
            fields =line.strip().split(',') # en este caso el delimitador es una ,
            outfile1.write('\t'.join(fields))
            outfile1.write('\n')

/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/customer-churn-model/Tab Customer Churn Model.txt

## Leyendo Ficheros Excel XLS y XLSX

In [ ]:
url='/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/'
titanic_data='titanic/titanic3.xls'

## os.path.join es una función que uno y soluciona problemas de path como fañta de / o espacios
titanic_data=os.path.join(url,titanic_data)
print(titanic_data)Ejercicio: construya una función f(x) y grafique sus resultados Ejercicio: construya una función f(x) y grafique sus resultados Ejercicio: construya una función f(x) y grafique sus resultados Ejercicio: construya una función f(x) y grafique sus resultados Ejercicio: construya una función f(x) y grafique sus resultados

/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/titanic/titanic3.xls

### pd.read_excel()

Esta función necesita al menos dos argumento y el segundo corresponde a la pagina excel del archivo

In [ ]:
titanic2 =pd.read_excel(titanic_data,'titanic3')
titanic2.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

## Escritura de archivos CSV,  Excel y JSON

In [ ]:
url='/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/'
titanic_cvs_w='titanic/titanic4.cvs'
titanic_json_w='titanic/titanic4.json'
titanic_xls_w='titanic/titanic4.xls'

## os.path.join es una función que uno y soluciona problemas de path como fañta de / o espacios
titanic_cvs=os.path.join(url,titanic_cvs_w)
titanic_json=os.path.join(url,titanic_json_w)
titanic_xls=os.path.join(url,titanic_xls_w)

## Leer Datos desde una URL

### utilizando pandas

In [ ]:
medals_url = 'http://winterolympicsmedals.com/medals.csv'  #sitio en internet con datos

In [ ]:
medals_data = pd.read_csv(medals_url)Ejercicio: construya una función f(x) y grafique sus resultados 
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
titanic2.to_csv(titanic_cvs)
titanic2.to_json(titanic_json)
titanic2.to_excel(titanic_xls,'primero')

### utilizando urllib3

Leemos los datos de la web

In [ ]:
medals_url = 'http://winterolympicsmedals.com/medals.csv'  #sitio en internet con datos 
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
print(r.status) # debuelve 200 porque es correcta la conección
responde = r.data.decode('utf-8') # los datos vienen en formato binario por lo que hay que decodificarlo

Recorremos los datos y los separamos por salto de linea y columna. Luego convertimos los datos a un pandas dataframe

In [ ]:
archivo = []#responde.split('\n')[0].split(',')
for rows in responde.split('\n'): # genero las filas  
    archivo.append(rows.split(',')) # separo las filas y las aggrego a la lista

data_array = np.array(archivo)       # conviero de list a NumpyArray
data_url   = pd.DataFrame(data_array[1:,:], columns=data_array[0]) # creo un pandas data frame donde la primera fila son los nombres de las columnas 
data_url.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
# ahora grabamos en un excel

dire='/home/lgomez/Documentos/cursos/python-ml-course-master/datasets/'
name_data='web_medallas.xls'

## os.path.join es una función que uno y soluciona problemas de path como fañta de / o espacios
name_data=os.path.join(dire,name_data)
data_url.to_excel(name_data, 'libro 1')